body{
    font-family: Roboto;
    background-color: #305050;
    text-align: center;
}
#nome-usuário { 
    font-weight: bold; 
 }
 .texto-inglês{ 
    font-style: italic;
}
  h2{
    color:orange;
}

  